* {
    box-sizing: border-box;
}
.main, body {
    background-color: #eeeeee;
    /*background-image: url("/static/img/bg.jpg");
    background-size: cover;*/
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

h5 {
    font-weight: 400;
}

h3 {
    margin-top: 0;
}

.container-auth {
    margin-top: 40px;
    width: 80%;
    max-width: 400px;
}
.tab {
    width: 200px;
}

.form-container {
    padding: 30px;
    padding-top: 10px;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.validate {
    z-index: 99;
}

.btn-show-pass {
    font-size: 15px;
    color: #999999;
    display: flex;
    align-items: center;
    position: absolute;
    height: 75%;
    top: 0;
    right: 0;
    padding-right: 15px;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-show-pass:hover {
    color: #6a7dfe;
}

/* ugly workaround for blue-ish background on form input autocompletion (chrome/safari only) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.dropdown-content {
    width: 150px;
    color: #000000;
}

.divider {color: #000000;}