-e git://github.com/ranaroussi/yfinance.git#egg=yfinance
flask
flask-cors
flask-mail
gunicorn
# Flask-Restful
flask-script
flask-babelex
flask-sqlalchemy
sqlalchemy-utils
passlib
flask-migrate
alembic
psycopg2
safe
python-dotenv
bcrypt
click
pyopenssl
numpy
pandas
pandas-datareader
alpha_vantage
redis
cryptography
numpy
sklearn
yfinance
webargs
flask-jwt-extended
iexfinance
flask-caching
flask-pymongo
dnspython
newrelic
flask-compress
bs4
# yfinance
python-slugify
