flask
flask-cors
flask-mail
gunicorn
flask-babel
flask-sqlalchemy
sqlalchemy-utils
passlib
flask-migrate
alembic
psycopg2-binary
safe
python-dotenv
bcrypt
click
pyopenssl
numpy
pandas
pandas-datareader
alpha_vantage
redis
cryptography
yfinance
webargs
flask-jwt-extended
flask-caching
flask-pymongo
dnspython
flask-compress
bs4
python-slugify
