flask
flask-cors
flask-mail
gunicorn
flask-script
flask-babelex
flask-sqlalchemy
sqlalchemy-utils
passlib
flask-migrate
alembic
psycopg2-binary
safe
python-dotenv
bcrypt
click
pyopenssl
numpy
pandas
pandas-datareader
alpha_vantage
redis
cryptography
numpy
yfinance
webargs
flask-jwt-extended
iexfinance
flask-caching
flask-pymongo
dnspython
newrelic
flask-compress
bs4
yfinance
python-slugify
