flask
flask-cors
gunicorn
# Flask-Restful
flask-user
flask-script
flask-babelex
flask-sqlalchemy
sqlalchemy-utils
passlib
flask-migrate
alembic
psycopg2
safe
python-dotenv
bcrypt
email-validator
click
pyopenssl
numpy
pandas
pandas-datareader
alpha_vantage
redis
cryptography
quandl
numpy
sklearn
yfinance
marshmallow
validate-email
webargs
