@import 'vue-material/dist/theme/engine'; // Import the theme engine
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@include md-register-theme(
  'default',
  (
    primary: #116468,
    accent:rgb(0, 170, 173),
    theme: "light",
  )
);

@import 'vue-material/dist/theme/all'; // Apply the theme
// @import 'vue-material/dist/components/MdButton/theme'; // Apply the Button theme
// @import 'vue-material/dist/components/MdContent/theme'; // Apply the Content theme
// @import 'vue-material/dist/components/MdToolbar/theme'; // Apply the Toolbar theme
// @import 'vue-material/dist/components/MdIcon/theme'; // Apply the Toolbar theme

$positive: 'rgb(0,154,128)';
$negative: 'rgb(200, 60, 90)';
$primary: #116468;
$accent: rgb(0, 170, 173);

.dp-primary {
  color: $primary;
  /* color: #0D47A1; */
}

.dp-primary-dark {
  color: #0a383a;
  /* color: #0D47A1; */
}

.toasted.toasted-primary .action {
  color: black;
  font-weight: 900;
}

.dp-accent {
  color: $accent;
}

.dp-bg-warning {
  background-color: rgb(245, 122, 91) !important;
}

/* ugly workaround for blue-ish background on form input autocompletion (chrome/safari only) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.dp-error {
  color: red;
  text-align: left;
  font-size: 11px;
  margin-top: -15px;
}

.dp-bg {
  background: url('./bg.jpg');
  background-size: cover;
}

.dp-bg1 {
  background: url('./bg1.jpg');
  background-size: cover;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}
