@import 'vue-material/dist/theme/engine'; // Import the theme engine

@include md-register-theme(
  'default',
  (
    primary: md-get-palette-color(blue, 900),
    accent: md-get-palette-color(red, 400),
    theme: "light",
  )
);

@import 'vue-material/dist/theme/all'; // Apply the theme
// @import 'vue-material/dist/components/MdButton/theme'; // Apply the Button theme
// @import 'vue-material/dist/components/MdContent/theme'; // Apply the Content theme
// @import 'vue-material/dist/components/MdToolbar/theme'; // Apply the Toolbar theme
// @import 'vue-material/dist/components/MdIcon/theme'; // Apply the Toolbar theme

.dp-primary {
  color: #0D47A1;
  /* color: rgb(0,77,64); */
}

/* ugly workaround for blue-ish background on form input autocompletion (chrome/safari only) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.dp-error {
  color: red;
  text-align: left;
  font-size: 11px;
  margin-top: -15px;
}

.dp-bg {
  background-image: url('./assets/bg1.jpg');
  background-size: cover;
}